/* Color Variables */
:root{
  --red:#EE6055;
  --pink:#FF9B85;
  --green:#60D394;
  --hover:#717270;
  --h-fonts:#EDEDED;
  --h-background:#3C3E3B;
}

/**{
   outline: 1px solid red !important;
}*/

body{
  box-sizing: border-box;
  padding-bottom:20px;
  margin:auto;
  padding:80px;
}

.nopleftpadding{
   padding-left: 0 !important;
}

.norightpadding{
  padding-right:0 !important;
}

/*Header navigation starts */

nav{
  background-color: var(--h-background);
}

.navbar-header{
  display:table;
}

.navbar-brand{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

#nav-list li{
  display:inline-block;
}

.navbar-brand, #nav-list li a i{
  color:var(--h-fonts);
  font-weight: bold;
  font-size:2.5em;
}

#nav-list li a:hover{
  background-color: var(--hover);
}

.navbar-brand:hover{
  color:var(--hover);
}

#header-nav div div, #nav-list{
  padding-right: 10px;
  padding-left: 10px;
}

/* Header navigation ends */

/* Banner starts */
.banner{
  padding:0px;
  background:linear-gradient(to right, var(--h-background), #DBDBDB, #EDEDED);
}

.banner .intro{
  text-align:center;
  display: block;
  border:none;
  padding:5% 4%;
}

.banner-img{
  width:100%;
  max-width: 330px;
  padding:0px;
}

#about-me{
  font-size: 1.6em;
  color:var(--h-background);
  font-weight: bold
}

#about-me span{
  font-weight: bold;
  font-style: italic;
}

#about-me-button{
  background-color:var(--h-background);
  color:var(--h-fonts);
  font-weight: bold;
  font-size:1.5em;
}

/* Banner ends */

/* Thumbnails start */


.contents{
  position: relative;
  width: 100%;
  margin-bottom:15px;
  overflow: hidden;
}

.contents img{
  margin:0px;
  width:100%;
  display:block;
  padding:0px;
  box-shadow: 0 1px 5px 2px #c3c3c3;
}

.contents img:hover{
  opacity:0.8;
}

.contents span{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin:auto;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  opacity: .8;
}

/* Thumbnails end */

/* Footer starts */

footer{
  background-color: var(--h-background);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%
}

.footer-nav{
  margin:auto;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footer-nav li{
  display:inline-block;
  padding: 10px;
}

.footer-nav li a i{
  color:var(--h-fonts);
  font-weight: bold;
  font-size:2.5em;
}

.footer-nav li:hover{
  background-color: var(--hover);
}

/* Footer ends */

/* Media queries start */

/** Small devices **/



@media (min-width: 768px){
  footer{
    display:none;
  }
}

@media (min-width: 300px) and (max-width: 768px){

  .navbar-header{
    margin:auto;
    width: 100%;
  }

  .navbar-brand{
    width: 100%;
  }

  .banner{
  }
}




/* Media queries end */